 .load
 {
 	text-align:center;padding:10px;
 	line-height:1.8em
 }
 .load .t
 {
 	padding:5px 20px 5px 20px; font-family:黑体; 
 	color:#e63f38
 }
 .load .l
 {
 	color:#666;font-size:12px
 }
 .border_p01
 {
 	width:100%; height:3px; background:#e41400; 
 	margin:0; padding:0
 }
 /*列表区域*/
 .lst  
 {
 	height:100%;margin:0px;
 	padding:0px 5px 0px 5px
 }
 .lst a img  
 {
 	padding:0px;max-height:50px;max-width:50px;
 	padding-top:5px;padding-bottom:5px;margin:0px
 }
 .lst a h3 
 {
 	width:80% 
 }
 /*新闻详细页*/
 .detail 
 {
 	text-align:center;padding:8px
 }
 .detail .news_detail_info
 {
 	font-size:12px; color:#666;
 	padding-bottom:5px; border-bottom:solid 1px #ccc 
 }
 .detail .news_detail_content 
 {
 	text-align:left
 }
 /*新闻推荐图片*/
 #news_wrap  
 {
 	position:relative;width:100%;height:auto;
 	min-height:160px;overflow:hidden;
 }
 #news_list img  
 {
 	border:0px;width:100%;height:auto
 }
 #news_bg  
 {
 	position:absolute;width:100%;min-height:30px;
 	line-height:30px;bottom:0;background-color:#000;
 	filter:Alpha(Opacity=40);opacity:0.4;z-index:1;
 	cursor:pointer;
 }
 #news_info 
 {
 	position:absolute;min-height:30px;line-height:30px;
 	bottom:0; left:3px;font-size:12px;
 	color:#fff;z-index:1;cursor:pointer
 }
 /*列表右侧按钮*/
 .ui-li-link-alt  
 {
 	position: absolute; width: 52px; height: 100%;
 	border-width: 0;background:url(images/add.png) no-repeat;
 	background-position:center; border-left-width: 1px; 
 	top: 0; right: 0; margin: 0; padding: 0; z-index: 2;
 }
 .ui-li-link-alt .ui-btn  
 {
 	display:none; overflow: hidden; position: absolute; 
 	right: 8px; top: 50%; margin: -11px 0 0 0; 
 	border-bottom-width: 1px; z-index: -1;
 }
