body
{
	font-size:11px;
	margin: 0;
	padding: 0;
}
.jcropper-holder 
{
	border: 1px #666 solid;
}
#outer 
{
	text-align: center;
}
.jcExample
{
	text-align: left;
	background: #eee;
	width: 680px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}
.jcExample .article
{
	width: 504px;
	float:left
}
.jcExample .clsPre
{   
	float:right;
	width:100px
}
.jcExample .clsPre .img100
{ 
	width:100px;
	height:100px;
	overflow:hidden;
	margin-top:46px;
	margin-bottom:5px
 }
 .jcExample .clsPre .img80
{ 
	width:80px;
	height:80px;
	overflow:hidden;
	margin-top:5px;
	margin-bottom:5px
 }
 .jcExample .clsPre .img60
{ 
	width:60px;
	height:60px;
	overflow:hidden;
	margin-top:5px;
	margin-bottom:5px
 }
 .jcExample .clsPre .imgPre
{ 
	padding:3px;
 }
 .jcExample .clsPre .clsAlt
{
	font-size:9px;
	font-family:Arial
 }
form
{
	margin: 1.5em 0;
}
form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcrop-holder  
{
	text-align: left; 
}
.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url('Jcrop.gif') top left repeat;
}
.jcrop-vline  
{
	height: 100%; 
	width: 1px !important; 
}
.jcrop-hline 
{
	width: 100%; 
	height: 1px !important; 
}
.jcrop-handle 
{
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	width: 9px;
	height: 9px;
}
.jcrop-tracker  
{
	width: 100%; height: 100%;
}
.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.btn 
{
	border:#666 1px solid;
	padding:2px;width:80px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff, EndColorStr=#ECE9D8);
}


